---
# This is an example config.yaml for a liquidMS node environment
db: # liquidMS DB connection settings
   dsn: "DRIVER=liquidMS ODBC driver;SERVER=localhost" # ODBC DSN string.
   user: "alice"
   password: "password" # KEEP THIS SECRET!
fetch: # Master servers to leech off of
- "http://mb.srb2.org/0/MS"
- "http://goldentails.tk/ms"
- "http://mother.asnet.org/"
...
