---
# This is an example config.yaml for a liquidMS node environment
db: # liquidMS DB connection settings
   host: "db.liquidms.org"
   port: 8080
   engine: "ODBC"
   user: "alice"
   password: "password" #Keep this secret
   database: "servers"
fetch: # Master servers to leech off of
- "http://mb.srb2.org/0/MS"
- "http://goldentails.tk/ms"
- "http://mother.asnet.org/"
...
