## LiquidMS cron scheduler for Docker containers
##	min		hour	day	month	weekday	command
	*/5		*		*	*		*		/usr/bin/env php /var/www/liquidms/liquidms/fetch.php
#	*/10	*		*	*  		*		/usr/bin/env php /var/www/liquidms/liquidms/fetch.php "self"
