## This file is documents a minimal example configuration
## for the provided satellite container.
## Simply adjust the values to your liking and save it as
## satellite.config.yaml
---
modules: # Features to enable
- v1 # v1 API
- snitch # snitch API
- browser # integrated server browser
sbpath: "/var/www/liquidms/browser/"
motd: |
  liquidMS is licensed under AGPLv3
...
