{
	debug
	log {
		output stdout
	}
}

*.localhost {
	encode gzip zstd
	tls internal
}

srb2.localhost {
	tls internal

	root * /var/www/liquidms/apis/srb2http/public
	php_fastcgi api-srb2http:9000
	#php_fastcgi api-srb2http:9000 {
		#env REQUEST_URI {path}{http.matchers.file.remainder}
	#}
	file_server
}

srb2kart.localhost {
	uri strip_prefix /srb2kart
	root * /var/www/liquidms/apis/srb2kart/public
	php_fastcgi api-srb2kart:9000
	file_server
}

srb2query.localhost {
	uri strip_prefix /srb2query
	root * /var/www/liquidms/apis/srb2query/public
	php_fastcgi api-srb2query:9000
	file_server
}

### Ring Racers' API is just the SRB2Kart API under a different path ###
#ringracers.localhost {
	#root * /var/www/liquidms/apis/ringracers/public
	#php_fastcgi api-ringracers:9000
	#file_server
#}

msfrontend.localhost {
	root * /var/www/liquidms/apis/frontend/public
	php_fastcgi api-snitch:9000
	file_server
}


snitch.localhost {
	root * /var/www/liquidms/apis/snitch/public
	php_fastcgi api-snitch:9000
	file_server
}


