@import url('/liquidms/browse/css/button.css');

.buttonbox{
	display: flex;
	flex-flow: row wrap;
	gap: 1.5em;
	margin: 1em;
	padding: 1em;
}

ul,
ul > li,
{
	margin-left: 0;
	padding-left: 0;
	list-style: none;
}

