@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
:root{
	/* --color-bg: url('/browse/img/bg.svg'); */
	--main-bg: url('/liquidms/browse/img/bg.svg') rgba(255, 220, 21, 1);
	/* --color-bg: teal; */
	--color-text: black;
	--netgame-bg: #003d;
	/* --netgame-bg: #35d1ff77; */
	--netgame-bg-hover: #335;
	--netgame-text: white;
	--netgame-title-text: yellow;
	--netgame-border: 3pt solid #444;
}

@media screen and (prefers-color-scheme: dark){
	:root{
		/* --main-bg: #000; */
		--netgame-border: 3pt solid #444;
	}
}

body{
color: var(--color-text);
background: var(--main-bg);
background-size: cover;
background-attachment: fixed;
font-family: 'Press Start 2P', sans-serif;
}

pre{ font-family: 'Press Start 2P', monospace; }

h1,p,pre,img{
max-width: min(100%, 60em);
margin: 1em auto;
display: block;
width: max-content;
}

h1{
	text-shadow: 0.07em 0.1em 0 black;
	color: white;
}

table,tr,td{ border: none; }

table{
	background: var(--color-table-bg);
	border-color: var(--color-table-border);
	margin-left: auto;
	margin-right: auto;
}

td,th{ padding: 0.75em; }
tr:first-child{ background: var(--color-table-bg-head); }
tr:nth-child(2n){ background: var(--color-table-bg2); }
@media(any-hover: hover) and (pointer: fine){
	tr:hover{ background: var(--color-table-bg-hover); }
}

